:root {
   --white: #ffffff;
   --black: #000000;
   --orange-300: #FFB587;
   --yellow: #FFFA80;
   --purple: #C190FF;
   --purple-shadow: #C69AFF;
   --purple-tab: #E9CCFF;
   --blue: #3947F2;

   --border-light: 2px solid black;
   --shadow-light: 4px;
   --shadow-heavy: 8px;

   --h2-size: 2.4rem;
   --h2-margin: 18px auto 20px auto;
   --h2-padding: 6px 12px;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
   font-size: 62.5%;
}

ul {
   list-style: none;
}

.inactive {
   display: none;
}

body {
   font-family: 'Inter', sans-serif;
}

nav {
   display: flex;
   width: 100%;
   height: 60px;
   position: sticky;
   top: 0;
   z-index: 2;
   justify-content: center;
   align-items: center;
   background: var(--white);
   border-bottom: 4px solid var(--black);
}

.navbar--desktop {
   display: none;
}

.navbar--mobile {
   width: 100%;
   height: 48px;
}

.navbar--mobile button {
   cursor: pointer;
   border-style: none;
}

.navbar--mobile svg {
   margin-left: 12px;
}

.navbar--mobile__menu {
   position: absolute;
   width: 80%;
   height: 100vh;
   top: 60px;
   left: 0;
   padding-left: 24px;
   padding-top: 36px;   
   background: var(--white);
   border-right: 4px solid var(--black);
   border-bottom: 4px solid var(--black);
}

.navbar--mobile__menu li {
   margin-bottom: 28px;
}

.navbar--mobile__menu a {
   text-decoration: none;
   font-size: 3.6rem;
   color: var(--black);
}

.navbar--mobile__menu a:hover, a:focus {
   text-decoration: underline;
}

nav button {
   background: white;
}

.language--selector--selected {
   display: flex;
   border-style: none;
   align-items: center;
}

.language--selector--selected:hover,  .language--selector--selected:focus {
   text-decoration: underline;
   cursor: pointer;
}

.language--selector--option {
   position: absolute;
   width: 80px;
   height: 40px;
   top: 60px;
   right: 0;
   border: var(--border-light);
   box-shadow: -4px 4px 0 var(--black);
}

.language--selector--option:hover, .language--selector--option:focus {
   text-decoration: underline;
   cursor: pointer;
}

header {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: var(--orange-300);
   border-bottom: 4px solid var(--black);
}

.header--title-container {
   margin-top: 20px;
}

.header--title-container h2 {
   display: inline;
   position: relative;
   bottom: -20px;
   left: -42px;
   z-index: 1;
   font-size: var(--h2-size);
   border: var(--border-light);
   padding: var(--h2-padding);
   background: var(--white);
}

.header--title-container h1 {
   width: 210px;
   height: auto;
   font-size: 3.2rem;
   line-height: 1.4;
   background: var(--yellow);
   border: var(--border-light);
   padding: 18px 26px;
   box-shadow: 4px 4px 0 var(--black);
}

header p {
   width: 240px;
   background: var(--white);
   padding: 12px;
   font-size: 1.8rem;
   line-height: 1.4;
   border: var(--border-light);
   margin: 20px 0 60px 0;
   box-shadow: var(--shadow-heavy) var(--shadow-heavy) 0 #FF8A50;
}

.main-technologies-container {
   width: 100%;
   height: auto;
   display: flex;
   padding: 0 16px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #F2CCFF;
   border-bottom: 4px solid var(--black);
}

.main-technologies-container .technologies--left--card {
   margin-right: auto;
   box-shadow: var(--shadow-heavy) var(--shadow-heavy) 0 var(--purple-shadow);
}

.main-technologies-container .technologies--right--card {
   margin-left: auto;
   box-shadow: -8px var(--shadow-heavy) 0 var(--purple-shadow);
}

.main-technologies-container h2 {
   height: 40px;
   font-size: var(--h2-size);
   background: var(--purple);
   margin: var(--h2-margin);
   padding: var(--h2-padding);
   border: var(--border-light);
   box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
}

.main-technologies-container .technologies--left--article {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 36px;
}

.main-technologies-container .technologies--right--article {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row-reverse;
   margin-bottom: 36px;
}

.technologies-container--card {
   min-width: 262px;
   max-width: 320px;
   height: 100%;
   border-radius: 12px;
   margin-bottom: 36px;
}

.technologies--card--tabs {
   display: flex;
   height: 30px;
   justify-content: flex-end;
   background: var(--purple);
   border-radius: 12px 12px 0 0;
   border: var(--border-light);
}

.technologies--card--tabs ul {
   margin-top: 6px;
   margin-right: 8px;
}

.technologies--card--tabs li {
   display: inline;
   background: var(--purple-tab);
   font-size: 1.4rem;
   padding: 4px;
   border-radius: 6px 6px 0 0;
   border: var(--border-light);
   opacity: 0.5;
}

.technologies--card--tabs .tab--active {
   opacity: 1;
}

.technologies--card--content {
   height: auto;
   padding: 12px;
   background: var(--white);
   border-radius: 0 0 12px 12px;
   border: var(--border-light);
}

.technologies--content__principal {
   display: inline-grid;
   width: 100%;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   gap: 10px;
}

.content__principal--big {
   display: flex;
   height: 70px;
   justify-content: center;
   align-items: center;
   grid-column: 1;
   grid-row: 1 / 3;
   font-size: 3.2rem;
   padding: 0 16px;
   border: var(--border-light);
   background: var(--white);
}

.content__principal--medium {
   display: flex;
   height: 50px;
   justify-content: center;
   align-items: center;
   font-size: 2.4rem;
   border: var(--border-light);
   background: var(--white);
}

.principal--medium--left {
   grid-column: 1;
   grid-row: 1 / 3;
}

.principal--medium--right {
   grid-column: 2;
   grid-row: 1 / 3;
}

.content__principal--small {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.6rem;
   line-height: 1.4;
   border: var(--border-light);
   background: var(--white);
}

.content__principal--small:nth-child(1) {
   grid-column: 2;
   grid-row: 2;
} 

.content__principal--small:nth-child(2) {
   grid-column: 2;
   grid-row: 1;
} 

.technologies--content__secondary {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
}

.technologies--content__secondary li {
   list-style: none;
   font-size: 1.6rem;
   line-height: 1.4;
   padding: 2px 6px;
   margin-right: 6px;
   margin-top: 8px;
   border: var(--border-light);
   background: var(--white);
}

.main-technologies-container img {
   width: 280px;
   height: auto;
}

.main-about-container {
   display: flex;
   width: 100%;
   height: auto;
   padding: 0 18px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #93B4FF;
   padding-bottom: 20px;
   border-bottom: 4px solid var(--black);
}

.main-about-container h2 {
   height: 40px;
   font-size: var(--h2-size);
   background: var(--blue);
   margin: var(--h2-margin);
   padding: var(--h2-padding);
   border: var(--border-light);
   box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
}

.main-about-container article {
   min-width: 20%;
   max-width: 400px;
   height: auto;
   font-size: 1.4rem;
   line-height: 1.4;
   padding: 24px 16px;
   margin-bottom: 28px;
   background: var(--white);
   border-radius: 12px;
   border: var(--border-light);
}

.main-about-container img {
   width: 100%;
}

.main-about-container .about--left--card {
   margin-right: 10%;
   box-shadow: var(--shadow-heavy) var(--shadow-heavy) 0 var(--blue);
}

.main-about-container .about--right--card {
   margin-left: 10%;
   box-shadow: -8px var(--shadow-heavy) 0 var(--blue);
}

.main-about-container h3 {
   font-size: 2rem;
   margin-bottom: 10px;
}

.about-container__published {
   font-size: 1.2rem;
   color: gray;
   margin-bottom: 10px;
}

.about-container__text {
   font-size: 1.4rem;
   line-height: 1.4;
   margin-bottom: 10px;
}

.main-portfolio-container {
   width: 100%;
   height: auto;
   display: flex;
   padding: 0 32px;
   flex-direction: column;
   background: #D1FFEE;
   border-bottom: 4px solid var(--black);
}

.main-portfolio-container h2 {
   font-size: var(--h2-size);
   background: #88FFD1;
   margin: var(--h2-margin);
   padding: var(--h2-padding);
   border: var(--border-light);
   box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
}

.portfolio-container--card {
   min-width: 212px;
   max-width: 620px;
   height: auto;
   border-radius: 12px;
   margin: 0 auto 28px auto;
   box-shadow: 8px 8px 0 #7B9AFD;
}

.portfolio--card--tabs {
   display: flex;
   height: 44px;
   justify-content: flex-start;
   padding-left: 2px;
   background: var(--orange-300);
   border-radius: 12px 12px 0 0;
   border: var(--border-light);
}

.card--tabs__icon {
   display: flex;
   height: 24px;
   margin-top: 10px;
   margin-left: 6px;
   align-items: center;
   border: 1px solid var(--black);
   border-radius: 6px;
   padding: 2px;
   background: var(--white);
   font-size: 1.2rem;
   text-decoration: none;
   color: var(--black);
}

.card--tabs__icon:nth-child(2) {
   width: 100%;
   margin-right: 10px;
}

.card--tabs__icon:hover, .card--tabs__icon:focus {
   cursor: pointer;
   text-decoration: underline;
   box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
   transition: box-shadow 0.5s;
}

.portfolio--card--content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: var(--white);
   border-radius: 0 0 12px 12px;
   border: var(--border-light);
}

.portfolio--card--content img {
   width: 190px;
   height: 140px;
   margin: 16px 0 12px 0;
   border: 2px solid black;
}

.card--content--technologies {
   padding: 0 18px;
   font-size: 1.4rem;
   margin-bottom: 12px;
   text-decoration: underline;
}

.portfolio--card--content ul {
   margin: 0 0 12px 20px;
}

.portfolio--card--content li {
   display: inline;
   font-size: 1.2rem;
   border-radius: 12px;
   background: var(--white);
   border: 1px solid var(--black);
   padding: 4px 8px;
}

.portfolio--card--content h3 {
   font-size: 2.4rem;
   margin: 0 0 12px 20px;
}

.card--content--description {
   padding: 0 18px;
   font-size: 1.4rem;
   line-height: 1.4;
   margin-bottom: 12px;
}

footer {
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: var(--white);
}

footer h2 {
   font-size: var(--h2-size);
   padding: var(--h2-padding);
   margin: 24px 40px 12px 0;
   border: var(--border-light);
   box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
}

footer a {
   display: flex;
   background: var(--white);
   border: 2px solid var(--black);
   padding: 4px 8px;
   margin-bottom: 12px; 
   text-decoration: none;
   text-align: center;
   font-size: 1.8rem;
   color: var(--black);
   align-items: center;
}

footer a:hover, a:focus {
   text-decoration: underline;
   cursor: pointer;
   box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
   transition: box-shadow 0.5s;
}

footer svg {
   margin-right: 6px;
}