---
import favicon from "../assets/favicon.svg";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import PortfolioContainer from "../components/PortfolioContainer.astro";
import TechContainer from "../components/TechContainer.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- <meta http-equiv="Refresh" content="0; URL=https://my-website-dgh.pages.dev/" /> -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Diego Guadarrama Hernández website to showcase his abilities as Full Stack web developer in React and Spring">
   <title>Diego G. H. | Portfolio</title>
   <link rel="icon" href={favicon.src} type="image/svg+xml" />
   <script src="../scripts/index.js"></script>
</head>
<body>
   <Navbar />
   <Header />
   <main>
      <PortfolioContainer />
      <TechContainer />
   </main>
</body>
</html>

<style is:global>
   :root {
      --white: #ffffff;
      --black: #000000;
      --orange-300: #FFB587;
      --yellow: #FFFA80;
      --purple: #C190FF;
      --purple-shadow: #C69AFF;
      --purple-tab: #E9CCFF;
      --blue: #2f62ff;

      --border-light: 2px solid black;
      --shadow-light: 4px;
      --shadow-heavy: 8px;

      --h2-size: 2.4rem;
      --h2-margin: 18px auto 20px auto;
      --h2-padding: 6px 12px;
   }

   * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
   }

   html {
      font-size: 62.5%;
      scroll-behavior: smooth;
   }

   body {
      font-family: sans-serif;
   }

   ul {
      list-style: none;
   }

   p, li {
      text-wrap: pretty;
   }

   .inactive {
      display: none;
   }

   & .clickeable--container {
      display: flex;
      background: var(--white);
      border: 2px solid var(--black);
      padding: 4px 8px;
      border-radius: 6px;
      text-decoration: none;
      text-align: center;
      font-size: 1.8rem;
      color: var(--black);
      align-items: center;
      transition: box-shadow 0.5s;
   }
   & .clickeable--container:hover, .clickeable--container:focus {
      outline: none;
      text-decoration: underline;
      cursor: pointer;
      box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
      transition: box-shadow 0.5s;
   }

   @media (prefers-reduced-motion: no-preference) {
      @keyframes pop-in {
         0% {
            transform: scale(.3);
         }
         35% {
            opacity: 1;
            transform: scale(.3);
         }
         50% {
            transform: scale(.7);
         }
         65% {
            transform: scale(.7);
         }
         80% {
            transform: scale(1.1);
         }
         90% {
            transform: scale(1.1);
         }
         100% {
            opacity: 1;
            transform: scale(1);
         }
      }
      .animate-pop-in {
         animation: pop-in .5s ease-out 0s 1 normal forwards running;
      }
   }
</style>