---
import PortfolioCard from './PortfolioCard.astro';
import bankPageImage from '../assets/BankPage.png';
import menuPageImage from '../assets/menu-page.jpg';
import { portfolio, principalText } from "../scripts/texts";

const portfolioContent = [{
   repository: 'https://github.com/diegoghernandez/Ordeninginering',
   link: { name: 'https://ordeninginering.com', url: 'https://ordeninginering.com' },
   title: 'Ordeninginering',
   description: portfolio[0].en.description,
   imgParameters: { img: menuPageImage, alt: 'Menu page'},
   features: portfolio[0].en.features,
   technologies: [
      'Typescript', 'Astro', 'React 18', 'Vitest', 'Mock service worker', 'Playwright', 'Java 21', 'Spring 3.2', 'Maven', 'JUnit', 
      'Node', 'MySQL', 'Docker', 'Test containers', 'Kubernetes',  'RDS', 'S3', 'Cloudfront', 'Cloudflare', 'GKE', 'Github Actions'
   ]
}, {
   repository: 'https://github.com/diegoghernandez/Bank-Account',
   link: { name: 'https://bank-account.pages.dev/', url: 'https://bank-account.pages.dev/' },
   title: 'Bank account',
   description: portfolio[1].en.description,
   imgParameters: { img: bankPageImage, alt: 'Sign in page for bank account'},
   features: portfolio[1].en.features,
   technologies: [
      'Javascript ES6+', 'React 18', 'Tailwind', 'Storybook', 'Vitest', 'Mock service worker', 'Java 17', 'Spring 2.7', 'Swagger',
      'Gradle', 'PostgresSQL', 'Docker', 'JUnit', 'Javadoc', 'ECS', 'Cloudflare', 'Github Actions', 'Chromatic'
   ]
}]

---

<section class='main-portfolio-container' id='portfolio'>
   <h2 class='portfolio-container--title'>{principalText.en.portfolio}</h2>
      {portfolioContent.map((content, index) => <PortfolioCard {...content } />)}
</section>

<style>
   .main-portfolio-container {
      width: 100%;
      height: auto;
      display: flex;
      padding: 0 16px;
      flex-direction: column;
      background: #93B4FF;
      border-bottom: 4px solid var(--black);
      & h2 {
         font-size: var(--h2-size);
         background: var(--blue);
         margin: var(--h2-margin);
         padding: var(--h2-padding);
         border: var(--border-light);
         box-shadow: var(--shadow-light) var(--shadow-light) 0 var(--black);
      }
      .portfolio-container--cards{
         display: flex;
         flex-direction: row;
         justify-content: center;
         flex-wrap: wrap;
         gap: 24px;
         padding-bottom: 24px;

         @media (width > 680px) {
            gap: 120px;
         }
      }

   }
</style>